<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Artists</title>
</head>
<body>
  <h1>Artists</h1>
  <a href="/artists/new">New Artist</a>
  <table>
    <thead>
      <tr>
        <th>Artist</th>
        <th>Genre</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody></tbody>
</body>
</html>
