<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Add Artist</title>
</head>
<body>
  <h1>NodeTunes</h1>
  <a href="/artists">Cancel</a>
  <form action="/artists/new" method="POST">
    Artist: <input name="artist" type="text" placeholder="Artist">
    Genre:
    <select name="genre">
      <option value="Rock">Rock</option>
      <option value="Hip-Hop">Hip-Hop</option>
      <option value="R&B">R&B</option>
      <option value="Country">Country</option>
      <option value="EDM">EDM</option>
      <option value="Electronica">Electronica</option>
      <option value="Jazz">Jazz</option>
      <option value="Blues">Blues</option>
    </select>
    Album: <input name="album" type="text" placeholder="Album">
    Biography:
      <textarea name="bio" form="usrform">Enter bio here...</textarea>
      <input type="submit" value="Add artist to list">
  </form>
</body>
</html>
